<h1>Vehículo <small>{{vehicleName}}</small> </h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/vehicles">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm">
            <div class="form-group">
                <label>Id</label>
                <input type="text" 
                        class="form-control" 
                        placeholder="Id"
                        [(ngModel)]="vehicle.id"
                        name="id"
                        disabled="disabled">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Brand</label>
                <input type="text" 
                       class="form-control"
                       name="brand"  
                       placeholder="Vehicle brand" 
                       [(ngModel)]="vehicle.brand"                                            
                       (ngModelChange)="refreshName(vehicle)"    
                       [class.is-invalid]="(brand.invalid && (brand.dirty || brand.touched)) || (brand.invalid && f.submitted)"
                       #brand="ngModel"  
                       required>

            </div>

            <div class="form-group">
                <label>Model</label>
                <input type="text" 
                       class="form-control" 
                       name="model"
                       placeholder="Vehicle model" 
                       [(ngModel)]="vehicle.model"
                       (ngModelChange)="refreshName(vehicle)"
                       [class.is-invalid]="(model.invalid && (model.dirty || model.touched)) || (model.invalid && f.submitted)"
                       #model="ngModel"                         
                       required>
            </div>

            <div class="form-group">
                <label>Plate</label>
                <input type="text" 
                       class="form-control" 
                       name="plate"
                       placeholder="Vehicle plate" 
                       [(ngModel)]="vehicle.plate"
                       (ngModelChange)="refreshName(vehicle)" 
                       [class.is-invalid]="(plate.invalid && (plate.dirty || plate.touched)) || (plate.invalid && f.submitted)"
                       oninput="this.value = this.value.toUpperCase()"  
                       #plate="ngModel"                         
                       required>
            </div>

            <div class="form-group">
                <label>License</label>
                <input type="text" 
                       class="form-control " 
                       name="license" 
                       placeholder="Vehicle license required" 
                       [(ngModel)]="vehicle.licenseRequired"                           
                       oninput="this.value = this.value.toUpperCase()"  
                       [class.is-invalid]="(license.invalid && (license.dirty || license.touched)) || (license.invalid && f.submitted)"
                       #license="ngModel"                  
                       minlength="1"
                       maxlength="1"
                       required>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25">
                <i class="fa fa-save"></i>                        
                Guardar
                </button>

            </div>
        </form>
    </div>
</div>