<h4>Viaje</h4>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="/trips">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<hr>

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
  <div>
    

    <div class="form-group">
      <label>Id</label>
      <input type="text" class="form-control" placeholder="Id" formControlName="id" name="id">
      <small class="form-text text-muted">Este campo es autogenerado</small>
    </div>
  


    <div class="row animated fadeIn faster">
      <div class="form-group col text-center">
        <mat-form-field>
          <small>
            <mat-label>Choose a trip date</mat-label>
          </small>
          <input matInput [matDatepicker]="picker" formControlName="picker" [class.is-invalid]="dateInvalid">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row animated fadeIn faster">
      <div class="col text-center">
        <mat-form-field>
          <mat-label>Vehicles</mat-label>
          <mat-select multiple formControlName="vehicle" [class.is-invalid]="vehicleInvalid">
            <mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle.vehicleId">{{vehicle.brand}}
              {{vehicle.model}} {{vehicle.plate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row animated fadeIn faster">
      <div class="col text-center">
        <mat-form-field>
          <mat-label>Drivers</mat-label>
          <mat-select multiple formControlName="driver" [class.is-invalid]="driverInvalid">
            <mat-option *ngFor="let driver of driversList" [value]="driver.id">{{driver.name}} {{driver.surname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <hr>   

  </div>

  <div class="col-md-12 form-group text-center">
    <button type="submit" class="btn btn-primary w-auto">
      <i class="fa fa-save"></i>
      Guardar
    </button>
  </div>

</form>



</div>
</div>